body {
    font:small-caption;
    background-color:rgb(231, 195, 247);
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: purple;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 25%;
    max-height: 50vh;
    margin: 3%;
}
.post {
    padding: 2%;
    border:3px solid black;
    margin: 3%;
    max-width: 66%;
    position: relative;
}
button {
    float:right;
    background:none;
    font-family: Consolas, monospace;
}
#index{
    float:right;
    margin-right:1%;
    max-width:25%;
    z-index:10;
    color:rebeccapurple;
}
.bounceButts {
    font-size: 17pt;
    color:rebeccapurple;
    z-index:100;
    max-width:25%
}
