---
---
<html>
  <head>
    <style>
      * {
          margin: 0;
          padding: 0;
      }
      .imgbox {
          display: grid;
          height: 100%;
      }
      .center-fit {
          max-width: 25%;
          max-height: 50vh;
          margin: 3%;
      }
      .post {
          border:3px solid black; 
          padding: 2%; 
          margin: 3%; 
          width: 66%;
      }
      .navI {
	  float:right;
      }
    </style>
  </head>

  <body style="background-color:rgb(231, 195, 247); font:small-caption;">
    <table style="float:right;
		  margin-right:1%;
		  width:25%"
	   id="index"><tr><td><h2>Index</h2></td></tr>
      <tr>
	<td> <button id="viewAll" class="navI">View All</button></td>
	<td> <button id="hideAll" class="navI" style="float:left">Clear</button></td>
      </tr>
      
      {% for post in site.posts %}
      <tr>
	<td><button id="button~{{ post.real_id }}" class="navI">{{ post.date | date_to_string}}</button></td>
	<td>{{ post.title | replace: "Fuck", "F**k" }}</td>
      </tr>
      {% endfor %}
    </table>
    
    <div style="margin-left: .4%">
      <h1>Getting Purple</h1>
      <a href="http://getting-purple.com">getting-purple.com</a>
       ~ Source Code: <a href="https://github.com/getting-purple/getting-purple.github.io/" target="_blank">github.com/getting-purple/getting-purple.github.io</a>
    </div>

    <br>
    
    {% for post in site.posts %}    
    <div class="post" id="{{ post.real_id }}">
      <a href="#{{post.real_id}}" style="float:right">{{ post.date | date_to_string}}</a>
      <h3 class="essaytitle" style="margin-bottom: 0px">{{post.title}}</h3>
      {{ post.content }}
    </div>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/nav.js"></script>
    
</body></html>
