---
---
<html><head>
    <style>
      * {
          margin: 0;
          padding: 0;
      }
      .imgbox {
          display: grid;
          height: 100%;
      }
      .center-fit {
          max-width: 25%;
          max-height: 50vh;
          margin: 3%;
      }
      .post {
          border:3px solid black; 
          padding: 2%; 
          margin: 3%; 
          width: 66%;
      }
      .navI {
	  float:right;
      }
    </style>
  </head>
  <body style="background-color:rgb(231, 195, 247); font:small-caption;">
    <table style="float:right;
		  margin-right:1%;
		  width:20%"
	   id="index"><tr><td><h2>Index</h2></td></tr>
      <tr><td> <button id="viewAll" class="navI">View All</button></td></tr>
      {% for post in site.posts %}
      <tr>
	<td><button id="button~{{ post.id }}" class="navI">{{ post.date }}</button></td>
	<td>{{ post.title }}</td>
      </tr>
      {% endfor %}
    </table>
    <div style="
		margin-left: .4%;
		">
      <h1>Getting Purple</h1>
      <a href="http://getting-purple.com" style="float: left;">getting-purple.com</a>
    </div>
    <br>
    
    {% for post in site.posts %}    

    <div class="post" id="{{ post.id }}">
      <a href="#{{post.id}}" style="float:right">{{ post.date }}</a>
      <h3 class="essaytitle" style="margin-bottom: 0px">{{post.title}}</h3>
      {{ post.content }}
    </div>

    {% endfor %}

    <div class="post" id="FucktheMoynihanTrainHall" style="display: none;">
      </div>

    <!-- <div style="float:right; width: 33%; margin: 20px"> -->
      <!--   <img src="https://lh3.googleusercontent.com/pw/AIL4fc-w_wu_pL_VxsjEv_VDBBEXzFg1kln2wJMKoI7aMELy5NfFiBcxoV_0oZkWyF71YTQ59WRGAzd5CKl8KGByMY09pBgaVOS27yTz7yLcWXtUNhiVK9MHPQpk6U_3WOpigoACEhOaCLV7kwsp2z346c_X=w804-h1430-s-no?authuser=0"> -->
      <!-- </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/nav.js"></script>
    
</body></html>
