<table style="border:2px solid red">
  <th>Bouncer</th>
  <tr>
    <td> <button id="startBouncing" class="bounceButts">Bounce</button></td>
    <td> <button id="stopBouncing" class="bounceButts" style="float:left">Stop Bouncing</button></td>
  </tr>
  <tr>
    <td> <button id="speedUp" class="bounceButts">Speed Up</button></td>
    <td> <button id="slowDown" class="bounceButts" style="float:left">Slow Down<button></td>
  </tr>
  <tr>
    <td>(turn on Bounce before Destroy Mode)</td>
    <td><button id='destroy_mode' class='bounceButts' style='float:left;font-size: 16pt;'>Destroy Mode</button>
    </td>
  <tr>
    <td><button id='gravity' class='bounceButts' style='float:left,font-size:14pt;'>gravity</button>
    <td><button id='SUPER_destroy_mode' class='bounceButts' style='float:left;font-size: 12pt;display: none;'>Super Destroy Mode</button>
    </td>
  </tr>
</table>


