<table style="border:2px solid rebeccapurple;">
  <th>Bouncer</th>
  <tr>
    <td> <button id="startBouncing" class="bounceButts">Bounce</button></td>
    <td> <button id="stopBouncing" class="bounceButts" style="float:left">Stop Bouncing</button></td>
  </tr>
  <tr>
    <td> <button id="speedUp" class="bounceButts">Speed Up</button></td>
    <td> <button id="slowDown" class="bounceButts" style="float:left">Slow Down<button></td>
  </tr>
  <tr>
    <td id='destroyLabel'></td>
    <td><button id='destroy_mode' class='bounceButts' style='float:left;font-size: 12pt;'>Destroy Mode</button>
    </td>
  <tr>
    <td id="gravityLabel"><button id='goBottom'class=' bounceButts' style='font-size: 12pt;display:none'>go to bottom</button></td>
    <td><button id='gravity' class='bounceButts' style='float:left;font-size:12pt'>gravity</button></td>
  </tr>
  <tr>
    <td id='SUPERdestroyLabel'></td>
    <td><button id='SUPER_destroy_mode' class='bounceButts' style='float:left;font-size: 12pt'>Super Destroy Mode</button>
    </td>
  </tr>
</table>


