body {
  background: #6e28d9;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book {
  border: 5px solid black;
  height: 50px;
  width: 400px;
  position: relative;
  background: #6e28d9;
  /* writing-mode: vertical-rl; */
  padding: 7px;
  margin: .5px;
  transition: top 5s 500ms,left 5s 500ms;
  top: 0;
  left: 0;
  z-index:auto;
}
.book:hover {
    top: 210px;
    left: 60px;
}

.title{
    z-index:164;
    position:relative;
    background: #6e28d9;
}
.front {
  border: 5px solid black;
  height: 250px;
  width: 400px;
  position: relative;
  background: #6e28d9;
  writing-mode: vertical-rl;
  padding: 7px;
  margin: .5px;
  z-index: -1;
  top: -575px;
  left: -40px;
  transform: skew(11deg,0deg) rotate(180deg);
}
.top {
  border: 5px solid black;
  height: 250px;
  width: 5px;
  position: relative;
  background: #6e28d9;
  writing-mode: vertical-rl;
  padding: 7px;
  margin: .5px;
  z-index: -10;
  top: -240px;
  left: -50px;
  transform: skew(11deg,0deg) rotate(180deg);
}


.shelf{
  border: 5px solid black;
  border-bottom: 5px solid black;
  position:relative;
  transform: skew(0deg,13deg) rotate(90deg);
  float:left;
}
.wall{
    float:left;
    background: black;
    width: 500px;
    height: 470px;
    top: 45px;
    z-index:64;
    position: relative;
    color: rgb(64, 55, 62);
}

iframe {
    transform: rotate(90deg);
    position:relative;
    top:-90px;
    left:-85px;
}

img {
    transform: rotate(90deg);
    position:relative;
    top:-50px;
    left:-50px;
    height: 100%;
}
